@charset "utf-8";
@import url(reset.css);
@import url(font.css);

@mixin imgBox {
  width: 100%;
  object-fit: cover;
  display: block;
}

@mixin btnStylePC {
  font-size: 16px;
  display: block;
  border: 1px solid black;
  border-radius: 50px;
  white-space: nowrap;
}

@mixin btnHover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

@mixin btnClicked {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

html,
body {
  font-family: "pretendard";
  font-size: 16px;
  line-height: 1.5;
}

section .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;

  /*  background-color: antiquewhite; */
}

#header {
  width: 100%;
  color: white;
  height: 70px;
  background-color: black;
  position: fixed;
  z-index: 99;

  .inner {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100px;
      a {
        img {
          display: block;
        }
      }
    }

    .gnb {
      font-size: 18px;
      display: flex;
      gap: 60px;

      li {
        .menu {
        }
      }
    }
  }
}

.section-01 {
  .inner {
    display: flex;
    align-items: center;
    padding: 300px 0;
    gap: 10.5%;
    .section_title {
      font-size: 36px;
      

    }

    .image {
      width: 23.5%;
      height: 371px;

      img {
        @include imgBox;
        height: 100%;
        display: block;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 59.5%;
      row-gap: 50px;

      .item {
        max-width: 306px;
        width: 42.85%;

        h3 {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
        }

        ul {
          li {
            margin-top: 4px;
          }
        }

        .Skill_list {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px 24px;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.section {
  .inner {
    padding: 0 0 300px;

    .cat_wrap {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-bottom: 40px;

      li {
        a {
          @include btnStylePC();
          padding: 4px 16px;
        }

        a:hover {
          @include btnHover();
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 150px;

      .item {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 85px 0 0 0;
        gap: 20px;

        .item-title {
          width: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0%);
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          white-space: normal;
          /* 기본 줄바꿈 허용 */
          word-break: keep-all;
          /* 단어 중간에서 끊지 않음 */
          line-break: loose;
        }

        .item-left {
          width: 66%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .image {
            display: flex;
            justify-content: center;
            padding: 30px 30px 30px;
            width: 100%;

            border: 1px solid #333333;
            border-radius: 36px;

            img {
              @include imgBox();
            }
          }

          .tool {
            padding: 30px;
            border: 1px solid #333333;
            border-radius: 36px;
            display: flex;
            gap: 36px;

            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;

              img {
                width: 36px;
                height: 36px;
                object-fit: cover;
                display: block;
              }

              span {
                font-size: 14px;
                display: block;
              }
            }
          }
        }

        .item-right {
          width: 32.33%;
          padding: 30px;
          border: 1px solid #333333;
          border-radius: 36px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .project_info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
              strong {
              }

              p {
                line-height: 1.5;
              }
            }
          }

          .QR {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 23.47%;

            margin: 0 30px 30px 0;
            object-fit: cover;
            display: none;
          }

          .link_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            li {
              width: 47.4%;

              a {
                width: 100%;
                /* width: 160px;
                height: 32px; */
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #333333;
                border-radius: 20px;
                text-align: center;
                padding: 4px 16px;
                white-space: nowrap;
              }

              a:hover {
                @include btnHover();
              }
            }
          }
        }
      }
    }
  }
}

.section-02 {
  .web_renewal {
    @include btnClicked;
  }
}

.section-03 {
  .app_renewal {
    @include btnClicked;
  }
}

.section-04 {
  .clone_coding {
    @include btnClicked;
  }
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
  html,
  body {
  }

  #header {
    height: 60px;

    .inner {
      padding: 0 40px;

      .logo {
        img {
        }
      }

      .gnb {
        font-size: 16px;
        gap: 40px;

        li {
          .menu {
          }
        }
      }
    }
  }

  .section {
    .inner {
      padding: 0 0 200px;

      .cat_wrap {
        gap: 16px;
        margin-bottom: 30px;

        li {
          a {
            padding: 2px 14px;
            font-size: 15px;
          }
        }
      }

      .list {
        gap: 100px;

        .item {
          padding: 72px 0 0 0;
          gap: 16px;

          .item-title {
            font-size: 28px;
          }

          .item-left {
            width: 65.46%;
            gap: 16px;

            .image {
              padding: 40px 24px 40px;
              border-radius: 24px;
            }

            .tool {
              padding: 24px;
              border-radius: 24px;
              gap: 24px;

              li {
                gap: 2px;

                img {
                  /*                   width: 36px;
                  height: 36px; 
                  보고 24로 변경*/
                }

                span {
                  /* font-size: 14px; 보고 12px로 변경*/
                }
              }
            }
          }

          .item-right {
            width: 32.73%;
            padding: 24px;
            border-radius: 24px;

            .project_info {
              gap: 12px;

              p {
                font-size: 15px;
              }
            }

            .QR {
              width: 31.97%;
              margin: 0 24px 24px 0;
            }

            .link_wrap {
              gap: 8px;

              li {
                width: 47.95%;

                a {
                  padding: 2px 14px;
                  font-size: 15px;
                }

                a:hover {
                  @include btnHover();
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 849px) {
  html,
  body {
    font-size: 14px;
  }

  section .inner {
    width: calc(100% - 40px);
  }

  #header {
    height: 60px;

    .inner {
      padding: 0 20px;

      .logo {
        img {
        }
      }

      .gnb {
        font-size: 16px;
        gap: 40px;

        li {
          .menu {
          }
        }
      }
    }
  }

  .section-01 {
    .inner {
      display: flex;
      flex-direction: column;
      padding: 120px 0;
      gap: 60px;

      .image {
        width: 53.73%;
        height: auto;
      }

      .list {
        flex-direction: column;
        width: 100%;
        row-gap: 50px;
        text-align: center;

        .item {
          max-width: none;
          width: 100%;

          h3 {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 600;
          }

          ul {
            li {
              font-size: 16px;
              margin-top: 4px;
            }
          }

          .Skill_list {
            font-size: 12px;
            display: flex;

            justify-content: center;
            flex-wrap: wrap;
            gap: 10px 16px;

            li {
              display: flex;
              flex-direction: column;
              align-items: center;

              img {
                width: 36px;
                height: 36px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .section {
    .inner {
      padding: 0 0 100px;

      .cat_wrap {
        width: 100%;
        gap: 8px;
        margin-bottom: 30px;
        overflow-x: scroll;

        li {
          a {
            padding: 2px 14px;
            font-size: 14px;
          }
        }
      }

      .list {
        gap: 100px;

        .item {
          flex-direction: column;
          padding: 0;
          gap: 16px;

          .item-title {
            position: static;
            font-size: 21px;
            left: 0;
            transform: none;
          }

          .item-left {
            width: 100%;
            gap: 16px;
            border: 1px solid #333333;
            border-radius: 16px;
            align-items: center;

            .image {
              padding: 16px 16px 0;
              border: none;
              border-radius: 0;
            }

            .tool {
              width: 100%;
              justify-content: center;
              padding: 0 16px 16px;
              border: none;
              border-radius: 0;
              gap: 16px;

              li {
                /* width: 7.16%; */
                width: 24px;

                img {
                  width: 100%;
                  height: auto;
                }

                span {
                  display: none;
                }
              }
            }
          }

          .item-right {
            width: 100%;
            padding: 0 0 42px;
            border: none;
            border-radius: 0;

            .project_info {
              border: 1px solid #333333;
              padding: 16px;
              border-radius: 16px;

              p {
                font-size: 14px;
              }
            }

            .QR {
              top: 0;
              bottom: auto;
              width: 31.97%;
              margin: 16px 16px 0 0;
              width: 36px;
              height: 36px;
            }

            .link_wrap {
              flex-wrap: nowrap;
              row-gap: 0;
              gap: 16px;
              position: absolute;
              bottom: 0;

              li {
                background-color: antiquewhite;
                width: auto;

                a {
                  padding: 2px 14px;
                  font-size: 14px;
                }

                a:hover {
                  @include btnHover();
                }
              }
            }
          }
        }
      }
    }
  }
}
