@charset "UTF-8";
@import url(reset.css);
@import url(font.css);
html,
body {
  font-family: "pretendard";
  font-size: 16px;
  line-height: 1.5;
}

section .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;
  /*  background-color: antiquewhite; */
}

#header {
  width: 100%;
  color: white;
  height: 70px;
  background-color: black;
  position: fixed;
  z-index: 99;
}
#header .inner {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner .gnb {
  font-size: 18px;
  display: flex;
  gap: 60px;
}
.section-01 .inner {
  display: flex;
  align-items: center;
  padding: 300px 0;
  gap: 10.5%;
}
.section-01 .inner .image {
  width: 23.5%;
  height: 371px;
}
.section-01 .inner .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: 100%;
  display: block;
}
.section-01 .inner .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 59.5%;
  row-gap: 50px;
}
.section-01 .inner .list .item {
  max-width: 306px;
  width: 42.85%;
}
.section-01 .inner .list .item h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.section-01 .inner .list .item ul li {
  margin-top: 4px;
}
.section-01 .inner .list .item .Skill_list {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 24px;
}
.section-01 .inner .list .item .Skill_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-01 .inner .list .item .Skill_list li img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .inner {
  padding: 0 0 300px;
}
.section .inner .cat_wrap {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}
.section .inner .cat_wrap li a {
  font-size: 16px;
  display: block;
  border: 1px solid black;
  border-radius: 50px;
  white-space: nowrap;
  padding: 4px 16px;
}
.section .inner .cat_wrap li a:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}
.section .inner .list {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.section .inner .list .item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 85px 0 0 0;
  gap: 20px;
}
.section .inner .list .item .item-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  white-space: normal;
  /* 기본 줄바꿈 허용 */
  word-break: keep-all;
  /* 단어 중간에서 끊지 않음 */
  line-break: loose;
}
.section .inner .list .item .item-left {
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section .inner .list .item .item-left .image {
  display: flex;
  justify-content: center;
  padding: 30px 30px 30px;
  width: 100%;
  border: 1px solid #333333;
  border-radius: 36px;
}
.section .inner .list .item .item-left .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section .inner .list .item .item-left .tool {
  padding: 30px;
  border: 1px solid #333333;
  border-radius: 36px;
  display: flex;
  gap: 36px;
}
.section .inner .list .item .item-left .tool li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.section .inner .list .item .item-left .tool li img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section .inner .list .item .item-left .tool li span {
  font-size: 14px;
  display: block;
}
.section .inner .list .item .item-right {
  width: 32.33%;
  padding: 30px;
  border: 1px solid #333333;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.section .inner .list .item .item-right .project_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section .inner .list .item .item-right .project_info li p {
  line-height: 1.5;
}
.section .inner .list .item .item-right .QR {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 23.47%;
  margin: 0 30px 30px 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.section .inner .list .item .item-right .link_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.section .inner .list .item .item-right .link_wrap li {
  width: 47.4%;
}
.section .inner .list .item .item-right .link_wrap li a {
  width: 100%;
  /* width: 160px;
  height: 32px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333333;
  border-radius: 20px;
  text-align: center;
  padding: 4px 16px;
  white-space: nowrap;
}
.section .inner .list .item .item-right .link_wrap li a:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

.section-02 .web_renewal {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

.section-03 .app_renewal {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

.section-04 .clone_coding {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
  #header {
    height: 60px;
  }
  #header .inner {
    padding: 0 40px;
  }
  #header .inner .gnb {
    font-size: 16px;
    gap: 40px;
  }
  .section .inner {
    padding: 0 0 200px;
  }
  .section .inner .cat_wrap {
    gap: 16px;
    margin-bottom: 30px;
  }
  .section .inner .cat_wrap li a {
    padding: 2px 14px;
    font-size: 15px;
  }
  .section .inner .list {
    gap: 100px;
  }
  .section .inner .list .item {
    padding: 72px 0 0 0;
    gap: 16px;
  }
  .section .inner .list .item .item-title {
    font-size: 28px;
  }
  .section .inner .list .item .item-left {
    width: 65.46%;
    gap: 16px;
  }
  .section .inner .list .item .item-left .image {
    padding: 40px 24px 40px;
    border-radius: 24px;
  }
  .section .inner .list .item .item-left .tool {
    padding: 24px;
    border-radius: 24px;
    gap: 24px;
  }
  .section .inner .list .item .item-left .tool li {
    gap: 2px;
  }
  .section .inner .list .item .item-left .tool li img {
    /*                   width: 36px;
    height: 36px; 
    보고 24로 변경*/
  }
  .section .inner .list .item .item-left .tool li span {
    /* font-size: 14px; 보고 12px로 변경*/
  }
  .section .inner .list .item .item-right {
    width: 32.73%;
    padding: 24px;
    border-radius: 24px;
  }
  .section .inner .list .item .item-right .project_info {
    gap: 12px;
  }
  .section .inner .list .item .item-right .project_info p {
    font-size: 15px;
  }
  .section .inner .list .item .item-right .QR {
    width: 31.97%;
    margin: 0 24px 24px 0;
  }
  .section .inner .list .item .item-right .link_wrap {
    gap: 8px;
  }
  .section .inner .list .item .item-right .link_wrap li {
    width: 47.95%;
  }
  .section .inner .list .item .item-right .link_wrap li a {
    padding: 2px 14px;
    font-size: 15px;
  }
  .section .inner .list .item .item-right .link_wrap li a:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    transition: 0.3s;
  }
}
@media screen and (max-width: 849px) {
  html,
  body {
    font-size: 14px;
  }
  section .inner {
    width: calc(100% - 40px);
  }
  #header {
    height: 60px;
  }
  #header .inner {
    padding: 0 20px;
  }
  #header .inner .gnb {
    font-size: 16px;
    gap: 40px;
  }
  .section-01 .inner {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    gap: 60px;
  }
  .section-01 .inner .image {
    width: 53.73%;
    height: auto;
  }
  .section-01 .inner .list {
    flex-direction: column;
    width: 100%;
    row-gap: 50px;
    text-align: center;
  }
  .section-01 .inner .list .item {
    max-width: none;
    width: 100%;
  }
  .section-01 .inner .list .item h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .section-01 .inner .list .item ul li {
    font-size: 16px;
    margin-top: 4px;
  }
  .section-01 .inner .list .item .Skill_list {
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 16px;
  }
  .section-01 .inner .list .item .Skill_list li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-01 .inner .list .item .Skill_list li img {
    width: 36px;
    height: 36px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section .inner {
    padding: 0 0 100px;
  }
  .section .inner .cat_wrap {
    width: 100%;
    gap: 8px;
    margin-bottom: 30px;
    overflow-x: scroll;
  }
  .section .inner .cat_wrap li a {
    padding: 2px 14px;
    font-size: 14px;
  }
  .section .inner .list {
    gap: 100px;
  }
  .section .inner .list .item {
    flex-direction: column;
    padding: 0;
    gap: 16px;
  }
  .section .inner .list .item .item-title {
    position: static;
    font-size: 21px;
    left: 0;
    transform: none;
  }
  .section .inner .list .item .item-left {
    width: 100%;
    gap: 16px;
    border: 1px solid #333333;
    border-radius: 16px;
    align-items: center;
  }
  .section .inner .list .item .item-left .image {
    padding: 16px 16px 0;
    border: none;
    border-radius: 0;
  }
  .section .inner .list .item .item-left .tool {
    width: 100%;
    justify-content: center;
    padding: 0 16px 16px;
    border: none;
    border-radius: 0;
    gap: 16px;
  }
  .section .inner .list .item .item-left .tool li {
    /* width: 7.16%; */
    width: 24px;
  }
  .section .inner .list .item .item-left .tool li img {
    width: 100%;
    height: auto;
  }
  .section .inner .list .item .item-left .tool li span {
    display: none;
  }
  .section .inner .list .item .item-right {
    width: 100%;
    padding: 0 0 42px;
    border: none;
    border-radius: 0;
  }
  .section .inner .list .item .item-right .project_info {
    border: 1px solid #333333;
    padding: 16px;
    border-radius: 16px;
  }
  .section .inner .list .item .item-right .project_info p {
    font-size: 14px;
  }
  .section .inner .list .item .item-right .QR {
    top: 0;
    bottom: auto;
    width: 31.97%;
    margin: 16px 16px 0 0;
    width: 36px;
    height: 36px;
  }
  .section .inner .list .item .item-right .link_wrap {
    flex-wrap: nowrap;
    row-gap: 0;
    gap: 16px;
    position: absolute;
    bottom: 0;
  }
  .section .inner .list .item .item-right .link_wrap li {
    background-color: antiquewhite;
    width: auto;
  }
  .section .inner .list .item .item-right .link_wrap li a {
    padding: 2px 14px;
    font-size: 14px;
  }
  .section .inner .list .item .item-right .link_wrap li a:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    transition: 0.3s;
  }
}/*# sourceMappingURL=main.css.map */