@charset "utf-8";
@import url(reset.css);
@import url(font.css);

@mixin imgBox {
  width: 100%;
  object-fit: cover;
  display: block;
}

@mixin btnStylePC {
  font-size: 16px;
  display: block;
  border: 1px solid black;
  border-radius: 50px;
  white-space: nowrap;
}

@mixin btnHover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

@mixin btnClicked {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: "pretendard";
  font-size: 16px;
  line-height: 1.5;
}
section .inner,
#footer .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0;
  margin: 0 auto;
}

.section_title {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 700;
}

#header {
  width: 100%;
  color: white;
  height: 70px;
  background-color: black;
  position: fixed;
  z-index: 99;

  .inner {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100px;
      a {
        img {
          display: block;
        }
      }
    }

    .gnb {
      font-size: 18px;
      display: flex;
      gap: 60px;

      li {
        .menu {
        }
      }
    }
  }
}

#main {
  .main_visual {
    background-color: #000000;

    .inner {
      padding: 0;
      height: 100vh;
      .visual_text {
        height: 100%;
        font-size: 120px;
        font-weight: 800;
        line-height: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text_top {
          color: #eeeeee;
        }
        .text_middle {
          text-shadow:
            -1px 0 #eeeeee,
            0 1px #eeeeee,
            1px 0 #eeeeee,
            0 -1px #eeeeee;
        }
        .text_bottom {
          color: #eeeeee;
        }
      }
    }
  }
  .section-01 {
    .inner {
      .section_title {
        margin-bottom: 80px;
      }

      .contents {
        display: flex;
        justify-content: center;
        gap: 10.5%;
        .image {
          width: 23.5%;

          img {
            @include imgBox;
            height: 100%;
            display: block;
          }
        }

        .list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 59.5%;
          gap: 50px;

          .item {
            max-width: 306px;
            width: 42.85%;

            h3 {
              margin-bottom: 10px;
              font-size: 20px;
              font-weight: 600;
            }

            ul {
              li {
                margin-top: 4px;
              }
            }

            .Skill_list {
              font-size: 12px;
              display: flex;
              flex-wrap: wrap;
              gap: 20px 24px;

              li {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                  width: 36px;
                  height: 36px;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }

  .section {
    .inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      .tab_menu {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-bottom: 40px;

        li {
          button {
            @include btnStylePC();
            padding: 4px 16px;
            cursor: pointer;
          }

          button:hover {
            @include btnHover();
          }
        }
        li.active button {
          @include btnHover();
        }
      }

      .tab_list {
        display: none;

        .item {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding: 85px 0 0 0;
          gap: 20px;
          margin-bottom: 150px;

          .item-title {
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            white-space: normal;
            /* 기본 줄바꿈 허용 */
            word-break: keep-all;
            /* 단어 중간에서 끊지 않음 */
            line-break: loose;
          }

          .item-left {
            width: 66%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .image {
              display: flex;
              justify-content: center;
              padding: 30px 30px 30px;
              width: 100%;

              border: 1px solid #333333;
              border-radius: 36px;

              img {
                @include imgBox();
              }
            }

            .tool {
              padding: 30px;
              border: 1px solid #333333;
              border-radius: 36px;
              display: flex;
              gap: 36px;

              li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                img {
                  width: 36px;
                  height: 36px;
                  object-fit: cover;
                  display: block;
                }

                span {
                  font-size: 14px;
                  display: block;
                }
              }
            }
          }

          .item-right {
            width: 32.33%;
            padding: 30px;
            border: 1px solid #333333;
            border-radius: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .project_info {
              display: flex;
              flex-direction: column;
              gap: 20px;

              li {
                strong {
                }

                p {
                  line-height: 1.5;
                }
              }
            }

            .QR {
              display: flex;
              justify-content: center;
              width: 39.06%;
              min-width: 84px;
              .QR_pc {
                @include imgBox();
              }
              .QR_mobile {
                display: none;
              }
            }

            .link_wrap {
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 12px;

              li {
                width: 47.4%;

                a {
                  width: 100%;
                  /* width: 160px;
                height: 32px; */
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #333333;
                  border-radius: 20px;
                  text-align: center;
                  padding: 4px 16px;
                  white-space: nowrap;
                }

                a:hover {
                  @include btnHover();
                }
              }
            }
          }
        }
      }
      .tab_list.active {
        display: block;
      }
    }
  }

  .section-03 {
    .inner {
      padding: 50px 0 200px;
      .app_renewal {
        @include btnClicked;
      }
    }
  }

  .section-04 {
    .clone_coding {
      @include btnClicked;
    }
  }
}
#footer {
  background-color: #000000;
  color: #eeeeee;
  .inner {
    padding: 150px 0 50px;
    .contents {
      display: flex;
      flex-direction: column;
      gap: 40px;
      text-align: center;

      address {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 300;
        h3 {
          margin-bottom: 5px;
          font-weight: 700;
        }
        .name {
        }
        .email {
        }
        .phone {
        }
      }
      small {
        p {
          color: #888888;
        }
        .copyright {
          font-size: 14px;
          color: #888888;
        }
      }
    }
  }
}

@media screen and (min-width: 861px) and (max-width: 1024px) {
  html,
  body {
  }

  .section_title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  #header {
    height: 60px;

    .inner {
      padding: 0 40px;

      .logo {
        img {
        }
      }

      .gnb {
        font-size: 16px;
        gap: 40px;

        li {
          .menu {
          }
        }
      }
    }
  }
  #main {
    .main_visual {
      .inner {
        .visual_text {
          font-size: 100px;

        }
      }
    }
    .section-01 {
      .inner {
        .section_title {
          margin-bottom: 50px;
        }

        .contents {
          justify-content: space-between;
          gap: 0;

          .image {
            width: 25.63%;
            height: 300px;

            img {
              height: 100%;
            }
          }

          .list {
            width: 67.37%;
            gap: 30px;

            .item {
              max-width: 288px;
              width: 45.94%;

              h3 {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 600;
              }

              ul {
                li {
                  margin-top: 4px;
                }
              }

              .Skill_list {
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px 24px;

                li {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
      }
    }

    .section {
      .inner {
        .tab_menu {
          gap: 8px;
          margin-bottom: 30px;

          li {
            button {
              padding: 2px 14px;
              font-size: 15px;
            }
          }
        }
        .contents {
          .tab_list {
            gap: 100px;

            .item {
              padding: 72px 0 0 0;
              gap: 16px;
              margin-bottom: 100px;

              .item-title {
                font-size: 28px;
              }

              .item-left {
                width: 65.46%;
                gap: 16px;

                .image {
                  padding: 44px 24px 44px;
                  border-radius: 24px;
                }

                .tool {
                  padding: 24px;
                  border-radius: 24px;
                  gap: 24px;

                  li {
                    gap: 2px;

                    img {
                      /*                   width: 36px;
                  height: 36px; 
                  보고 24로 변경*/
                    }

                    span {
                      /* font-size: 14px; 보고 12px로 변경*/
                    }
                  }
                }
              }

              .item-right {
                width: 32.73%;
                padding: 24px;
                border-radius: 24px;

                .project_info {
                  gap: 10px;

                  p {
                    font-size: 15px;
                    line-height: 1.4;
                  }
                }

                .QR {
                  min-width: unset;
                }

                .link_wrap {
                  gap: 8px;

                  li {
                    width: 47.95%;

                    a {
                      padding: 2px 14px;
                      font-size: 15px;
                    }

                    a:hover {
                      @include btnHover();
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .section-03 .inner {
      padding: 0 0 100px;
    }
  }
  #footer {
    .inner {
      padding: 100px 0 40px;
      .contents {
        gap: 30px;
        address {
          font-size: 16px;
          h3 {
          }
          .name {
          }
          .email {
          }
          .phone {
          }
        }
        small {
          p {
          }
          .copyright {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  html,
  body {
    font-size: 14px;
  }

  section .inner {
    width: calc(100% - 40px);
    padding: 120px 0 0;
  }
  .section_title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  #header {
    height: 60px;

    .inner {
      padding: 0 20px;

      .logo {
        img {
        }
      }

      .gnb {
        font-size: 16px;
        gap: 40px;

        li {
          .menu {
          }
        }
      }
    }
  }

  #main {
    .main_visual {
      .inner {
        .visual_text {
          font-size: 60px;
        }
      }
    }
    .section-01 {
      .inner {
        .section_title {
          margin-bottom: 30px;
        }

        .contents {
          flex-direction: column;
          align-items: center;
          .image {
            width: 40%;
            height: auto;
            margin-bottom: 50px;
          }

          .list {
            flex-direction: column;
            width: 100%;
            row-gap: 50px;
            text-align: center;

            .item {
              max-width: none;
              width: 100%;

              h3 {
                margin-bottom: 0;
                font-size: 20px;
                font-weight: 600;
              }

              ul {
                li {
                  font-size: 16px;
                  margin-top: 4px;
                }
              }

              .Skill_list {
                font-size: 12px;
                display: flex;

                justify-content: center;
                flex-wrap: wrap;
                gap: 10px 16px;

                li {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
      }
    }
    .section {
      .inner {
        .tab_menu {
          width: 100%;
          gap: 8px;
          margin-bottom: 30px;

          li {
            button {
              padding: 2px 14px;
              font-size: 14px;
            }
          }
        }
        .contents {
          .tab_list {
            gap: 60px;

            .item {
              flex-direction: column;
              padding: 0;
              gap: 16px;
              margin-bottom: 60px;

              .item-title {
                position: static;
                font-size: 21px;
                left: 0;
                transform: none;
              }

              .item-left {
                width: 100%;
                gap: 16px;
                border: 1px solid #333333;
                border-radius: 16px;
                align-items: center;

                .image {
                  padding: 16px 16px 0;
                  border: none;
                  border-radius: 0;
              
                }

                .tool {
                  width: 100%;
                  justify-content: center;
                  padding: 0 16px 16px;
                  border: none;
                  border-radius: 0;
                  gap: 16px;

                  li {
                    /* width: 7.16%; */
                    width: 24px;

                    img {
                      width: 100%;
                      height: auto;
                    }

                    span {
                      display: none;
                    }
                  }
                }
              }

              .item-right {
                width: 100%;
                padding: 0 0 42px;
                border: none;
                border-radius: 0;
                

                .project_info {
                  border: 1px solid #333333;
                  padding: 16px;
                  border-radius: 16px;
                  gap: 10px;

                  p {
                    font-size: 14px;
                  }
                }

                .QR {
                  margin: 16px 16px 0 0;
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 36px;

                  min-width: unset;
                  .QR_pc {
                    display: none;
                  }
                  .QR_mobile {
                    display: block;
                    padding: 0 8px;
                    width: 100%;
                    height: 36px;
                    background-color: #d9d9d9;
                    border-radius: 8px;
                    cursor: pointer;
                    .QR_btn {
                      width: 20px;
                      display: block;
                    }
                  }
                }

                .link_wrap {
                  flex-wrap: nowrap;
                  row-gap: 0;
                  gap: 8px;
                  position: absolute;
                  bottom: 0;
                  justify-content: flex-start;

                  li {
                    width: auto;

                    a {
                      padding: 2px 14px;
                      font-size: 14px;
                    }

                    a:hover {
                      @include btnHover();
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .section-03 .inner {
      padding: 60px 0 120px;
    }
  }
  #footer {
    .inner {
      padding: 60px 0 30px;
      .contents {
        address {
          font-size: 16px;
          h3 {
            margin-bottom: 4px;
          }
          .name {
          }
          .email {
          }
          .phone {
          }
        }
        small {
          p {
            font-size: 14px;
          }
          .copyright {
            font-size: 12px;
          }
        }
      }
    }
  }
}
